<div style="border: solid black 2px; overflow: auto">
    <h1 style="text-align: center">БеларусьБанк</h1>
    <div class="main-part">
        <p style="text-align: center">Загрузка, пожалуйста подождите!</p>
        <div class="loader">
            <div class="loader-item"></div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        console.log("belarusnank-start-load")
        let elemForReplace = document.querySelector(".main-part")
        axios.get("belarusbank-view/")
            .then(function (response) {
                elemForReplace.innerHTML = response.data
            }).catch(function (err) {
                console.log(err);
                elemForReplace.innerHTML = "<h4 style='text-align: center'>Ошибка загрузки данных!</h4>"
        });
    })
</script>
