<div style="border: solid black 2px; overflow: auto">
    <h1 style="text-align: center">БеларусьБанк</h1>
    <div class="main-part">
        <p style="text-align: center">Загрузка, пожалуйста подождите!</p>
        <div class="loader">
            <div class="loader-item"></div>
        </div>
    </div>
</div>

<script>
    console.log("belarusnank-start-load")
    axios.get("belarusbank-view/")
        .then(function (response) {
            let elemForReplace = document.querySelector(".main-part")
            elemForReplace.innerHTML = response.data
        });
</script>
